# html lang
language: zh

# canvas 动态背景
canvas_dust: true

# 侧边栏
aside:
  in_left: false # 侧边栏在左 true / false
  logo: /img/logo.jpg #图片链接，建议 1:1 比例
  dr: / # 侧边栏 Dr. 链接
  block_in_top: false # 目前为侧边栏文章目录置顶
  copyright: null # 版权声明、备案号等，设置为 null 不显示

# Social Links
social:
  Instagram: https://www.instagram.com/q.ingx.ia
  GitHub: https://github.com/qingxiam
  Zhihu: https://www.zhihu.com/people/qing-xia-36-10
  Email: mailto:qx310731@gmail.com
  Xiaohongshu: https://www.xiaohongshu.com/user/profile/5d1b50f50000000016027fc9
  Bilibili: https://space.bilibili.com/499812030

# post 文章页面配置；true / false
post:
  date: true # 是否显示发布日期
  updated: true # 是否显示修改日期
  source: false # 是否显示源文件路径
  excerpt: false # 是否在文章中显示摘要内容（<!-- more--> 以上的内容）
  reward: true # 文章末显示打赏二维码
# 文章内目录
toc:
  list_number: true # true / false ；是否显示编号
  max_depth: 6 # 最大目录深度
  min_depth: 1 # 最小目录深度
# 归档页；true / false
archives:
  categories_count: true # 是否显示分类总数
  tags_count: true # 是否显示标签总数

# Valine 无后端评论系统
valine:
  app_id: # <APP ID>
  app_key: # <APP KEY>

# 图表支持
mermaid: false

# main menu navigation
menu:
  Home: ''
#  About: about/
#  Contact: contact/
  Archives: archives/

# stylesheets loaded in the <head>
stylesheets:
- https://cdn.bootcdn.net/ajax/libs/highlight.js/10.1.2/styles/atom-one-dark-reasonable.min.css
- css/custom.css
# - css/gitalk.css

# scripts loaded in the end of the body
scripts:
- https://cdn.bootcdn.net/ajax/libs/highlight.js/10.1.2/highlight.min.js
